
/*------------------------------------------------------------HEADER*/
body{
    font-family: 'Montserrat';
}
header{
    text-align: center;
}
header h1{
    color: #20274b;
    font-weight: bold;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    padding: 5px 70px 5px 2px;
}
header ul li a{
    color: #e6e4e4;
    font-size: 16px;
}
/*---------------------------------------------------------BLOG TITLE*/
section {
	background: #f4f4f4;
	width: 100% }

section h3 {
	margin-left: 580px;
	padding-top: 60px; }

section .blog1 {
	background-color: #dcdddf;
	background-image: url("../img/blog1.jpg");
	background-size: cover;
	height: 220px;
	width: 230px;
	margin-left: 15px; }

section .blog2 {
	background-image: url("../img/profesor_5.jpg");
	background-size: cover;
	height: 220px;
	width: 230px;
	margin-left: 15px; }

section .blog3 {
	background-image: url("../img/instructor_1.jpg");
	background-size: cover;
	height: 220px;
	width: 230px;
	margin-left: 15px; }


section .fondo {
	background-color: #dcdddf;
	border-bottom: 50px solid #f4f4f4;
	border-left: 100px solid #f4f4f4;
	border-right: 60px solid #f4f4f4; }

section .titulo {
	color: #191a1c;
	padding-top: 30px;
	padding-left: 50px; }

section .date {
	color: #c6c7c9;
	padding-left: 50px;
}

section span {
	color: #525659;
	position: relative;
	left: 50px; }

section button
	{font-size:15px;
    color:#c7c8ca;
    background:#182750;
    border-radius:5px;
    width:180px;
    height:38px;
    margin-top: 15px;
margin-left: 50px;
position: relative;
bottom: 8px;}
/*------------------------------------------------------------CONTACTANOS*/
.contacto{
  background: url(../img/shoes_!.jpg) no-repeat;
  height: 480px;
  background-size: 60%;
  padding: 0;
  margin:0;
  background-position: right;

}

.contacto form{
  width: 500px;
  margin-top: 40px;
  margin-left: 30px;
}
.contacto form h3{
margin-bottom: 30px;
  font-size: 30px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon textarea[type="mensaje"]{
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;

}
.right-inner-addon input {
    padding-right: 30px;
    }

.right-inner-addon i {
    position: absolute;
  }
  .contacto button{
      padding: 20px 1px;
      background: rgb(26, 41, 82);
      color:#fff;
      border-radius: 5px;
      border: none;
      width: 500px;
      margin: 10px 1px;
  }
/*-------------------------------------------------------------FOOTER*/
footer {
    background: #18235f;
    padding: 20px 0 7px 0 ;
}
footer small {
    color: #fff;
}
