

.contenido{
  background: #e3e3e3;
  text-align: center;
}
.contenido h3{
  padding: 20px ;
}
.colum1{
  margin-left: 80px;
  margin-bottom: 50px;
}
.colum2{
  margin-bottom: 50px;
}
.contenido .texto{
  background: rgba(0,0,0,0.5);
  margin-top: 140px;
  padding: 20px 1px;
color:rgba(254, 254, 254, 0.5);
}


.contenido .uno{
  background: url(../img/dance_12.jpg) no-repeat;
  height: 400px;
  margin-left: 30px;
  width: 300px;
  background-size: cover;
  color:#fff;
}
.contenido .dos{
  background: url(../img/breakdance.jpg) no-repeat;
  height: 400px;
  margin-left: 30px;
  width: 280px;
  background-size: cover;
  color:#fff;
}
.contenido .tres{
  background: url(../img/lirical-jazz.jpg) no-repeat;
  height: 400px;
  margin-left: 30px;
  width: 280px;
  background-size: cover;
  color:#fff;
}
.contenido .cuatro{
  background: url(../img/arabe.jpg) no-repeat;
  height: 400px;
  margin-left: 30px;
  width: 280px;
  background-size: cover;
  color:#fff;
}
.contenido .cinco{
  background: url(../img/little.jpg) no-repeat;
  height: 400px;
  margin-left: 30px;
  width: 280px;
  background-size: cover;
  color:#fff;
}
.contenido .seis{
  background: url(../img/yoga.jpg) no-repeat;
  height: 400px;
  margin-left: 30px;
  width: 280px;
  background-size: cover;
  color:#fff;
}
