/* Inserta tu codigo aqui */
/* Inserte su codigo aqui */

*{
    outline: 2px solid 	#00FFFF ; 
}
header ul li {
    display: inline-block;
    position: relative;
    margin-left:60px;
    left:300px;
    top: 30px;
    font-size: 15px;
    color:cornflowerblue;
    
}
.caja ul li {
    display: inline-block;
    position: relative;
    width: 370px;
    }
img{
    width: 350px;
    height: 400px;
    margin-left: 10px;
    margin-top: 20px
}
h1{
    margin-left: 500PX;
    color:darkblue;
    font-size: 20px;
    width: 200px;
}
h2{
    margin-left: 500PX;
    font-size: 20px;
    margin-top: 80px;
    width: 200px;
}
h3{
    margin-left: 150px;
}
.col-md-4{
    background-color:#DCDCDC;
    padding-bottom: 30px

}
p{
    position: absolute;
    top: 155px;
    left: 25px;
    background:rgba(0,0,0,0.6);
    width: 300px;
    height: 97px;
    color: aliceblue;
    text-align:center;
    }
.parrafo{
    position: absolute;
    top: 180px;
    left: 25px;
    color: aliceblue;
}
.email{
    width: 450px;
    height: 40px;  
    margin-left: 150px;
     margin-top: 10px;
    position:relative;
}

.nombre {
    width: 450px;
    height: 40px;
     margin-left: 150px;
     margin-top: 10px;
    position:relative;
}
.mensaje {
    width: 450px;
    height: 100px;
     margin-left: 150px;
    margin-top: 10px;
    position:relative;
}
.col-md-2{
    width: 650px;
    height: 300px;
    margin-top: 100px;
}


