
*{

  font-family: 'Montserrat',monospace;
}
header{
  text-align: center;
  margin-bottom: 20px;
}

header ul li{
  list-style: none;

}

/*.---------------------------------------hero*/
.hero{
  background:200% url(../img/dance_7.jpg);
  color:#fff;
  background-size: 100%;
height: 400px;
margin: 0px 0px;
}
.hero .studio{
  font-size: 20px;
}
.hero .texto{
  margin-top: 85px;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.4);
  padding: 20px 10px;

}

/*.....................................................pilares*/
.pilares {
  background: url(../img/cubes.png);
  padding: 80px 30px;
  text-align: center;
  color: rgba(0,0,0,0.4)

}
.pilares hr{
  width: 300px;
  border-color: rgba(0,0,0,0.4);
}
/*---------------------------------------------------instructores*/
.instructores{
  text-align: center;
  padding: 30px 3px;
}
.instructores img{
  width:90%;
  height: 180px;
}
.instructores p{
  text-align: left;
}


/*-----------------------------------------------frase*/
.frase{
  background: url(../img/cubes.png);
  height: 200px;
}
/*---------------------------------------------contacto*/
.contacto{
  background: url(../img/shoes_!.jpg) no-repeat;
  height: 480px;
  background-size: 60%;
  padding: 0;
  margin:0;
  background-position: right;

}

.contacto form{
  width: 500px;
  margin-top: 40px;
  margin-left: 30px;
}
.contacto form h3{
margin-bottom: 30px;
  font-size: 30px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;

}
.right-inner-addon input {
    padding-right: 30px;
    }

.right-inner-addon i {
    position: absolute;
  }
  .contacto button{
      padding: 20px 1px;
      background: rgb(26, 41, 82);
      color:#fff;
      border-radius: 5px;
      border: none;
      width: 500px;
      margin: 10px 1px;
  }
/* Inserta tu codigo aqui */
